*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Source Sans 3", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

.upper {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

/*----- All pages -----*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.container {
  width: min(26rem, 98%);
  background-color: #fafafa;
}

/*------Header-----*/

header {
  width: min(26rem, 98%);
  background-color: #fff;
  margin: 0;
  padding: 0 3em;
}

.logo {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 0.2em;
  color: #0e0e0e;
  font-family: Roboto;
  font-size: 0.847rem;
  font-weight: 700;
  line-height: 108.2%; /* 0.9165rem */
  letter-spacing: -0.02544rem;
  margin-right: auto;
}

.logo-icon {
  width: 1.5rem;
  aspect-ratio: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

header nav a {
  color: #090909;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
}

/*-----Hero section-----*/

#hero {
  background-image: url("images/article-hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: min(26rem, 100%);
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-decoration: none;
}

.text-container {
  padding: 0 1.25rem 1.5rem;
  font: inherit;
  color: #fff;
}

.date {
  font-size: 0.75rem;
  display: inline-block;
  margin-block: 0.8em;
}

.hero-title {
  font-size: 2.5rem;
}

.hero-text {
  margin-block: 0.5em;
  font-size: 1rem;
}

.hero-title,
.post-page-title-main,
.about-title {
  font-size: 2rem;
  line-height: 108.2%; /* 2.164rem */
  letter-spacing: -0.06rem;
  margin: 0;
}

/*-----Post page-----*/
.post-page-container {
  color: #151515;
  padding: 2em 1.25em 0;
}

.post-page-title {
  margin-top: 0.5em;
  font-weight: 700;
}

.post-page-title,
.post-page-text {
  color: #151515;
  font-size: 1rem;
}

.post-page-img {
  object-position: bottom center;
  margin-block: 2em;
  height: 12rem;
  width: 100%;
}

/*-----Blog article-----*/

.blog-container {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.blog-article {
  padding: 0.5em 1.25em 0;
}

.blog-img {
  margin-bottom: 0.5em;
  height: 14.5rem;
  width: 100%;
}

.blog-title {
  margin: 0;
}

.blog-text {
  margin-top: 0.5em;
}

.btn-container {
  text-align: center;
  padding: 0 1em 1em;
  margin: 0;
}

.recent-post-title {
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

.view-more-btn,
.view-less-btn {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

/*----about page-----*/
.user-img {
  width: 11.4rem;
  aspect-ratio: 1;
  margin-bottom: 1.7em;
}

.first-text {
  margin-bottom: 3em;
}

/*-----footer------*/

footer {
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  width: 100%;
  margin-top: 1.5em;
}

.footer-text {
  color: #ececec;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 108.2%; /* 0.8115rem */
  letter-spacing: -0.0225rem;
  margin: 0;
}

.footer-copyright {
  color: #d7d7d7;
  text-align: center;
  font-size: 0.75rem;
  line-height: 125%; /* 0.9375rem */
  margin-bottom: 0;
}

/*-----Media queries-----*/

@media (min-width: 65em) {
  .container {
    width: min(68rem, 98%);
    padding-inline: 2em;
  }

  header {
    width: min(68rem, 98%);
  }

  #hero {
    width: min(68rem, 100%);
    height: 30.5rem;
    background-position: 25% 70%;
    background-size: cover;
  }

  .text-container {
    width: 55%;
    margin-left: 2em;
  }

  .blog-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .post-page-img {
    height: 30.5rem;
    object-position: 25% 75%;
    margin: 0;
    margin-bottom: 2em;
  }

  .text-content {
    padding: 0 3em 1em;
  }
}
